
<h1 class="margin-custom display-5 "> Trending cars </h1>
<div class="d-flex justify-content-evenly mt-5">
  <div *ngFor="let carmodel of modelsSelected">
    <div class="card" style="width: 18rem" [ngClass]="{'bg-success-subtle': carmodel.available ,'bg-danger-subtle' : !carmodel.available}">
      <img [src]="'https://www.kimballstock.com/pix/car/p/' + carmodel.modelImage" class="card-img-top"
        alt="image car"/>
      <div class="card-body">
        <h5 class="card-title">{{ carmodel.brand }} {{ carmodel.model }}</h5>
        <p class="card-text">
          Year : {{ carmodel.year }}
        </p>
        <p class="card-text">
          Price: {{ carmodel.price }} &euro;
        </p>
        <p class="card-text">Availability: {{ carmodel.available ? 'Yes' : 'No' }} </p>
        <button class="button-custom"  routerLink="/{{carmodel.brand}}" routerLinkActive="active" >All of {{carmodel.brand}} </button>
      </div>
    </div>
  </div>
</div>
