
<h2 class="mt-3 ">Auto in evidenza</h2>
<div class="d-flex justify-content-evenly mt-5">
  <div *ngFor="let carmodel of modelsSelected">
    <div class="card" style="width: 18rem" [ngClass]="{'bg-success': carmodel.available ,'bg-danger' : !carmodel.available}">
      <img [src]="'https://www.kimballstock.com/pix/car/p/' + carmodel.modelImage" class="card-img-top"
        alt="image car"/>
      <div class="card-body">
        <h5 class="card-title">{{ carmodel.brand }} {{ carmodel.model }}</h5>
        <p class="card-text">
          Year : {{ carmodel.year }}
        </p>
        <p class="card-text">
          Price: {{ carmodel.price }} &euro;
        </p>
        <p class="card-text">Availability: {{ carmodel.available ? 'Yes' : 'No' }} </p>
        <a class="btn btn-primary" [routerLink]="['/modules', carmodel.brand]" routerLinkActive="active" >All of {{carmodel.brand}} </a>
      </div>
    </div>
  </div>
</div>
