<div class="d-flex justify-content-center">
  <div class="form-container mt-5">
    <p class="title display-4" >Create your account </p>
    <form class="form" #signUpForm="ngForm" (ngSubmit)="submit(signUpForm)">
      <input type="text" class="input form-control" id="name" name="name" ngModel required placeholder="full name">
      <input type="email" class="input form-control" id="email" name="email" ngModel required placeholder="email">
      <div id="emailHelp" class="form-text mt-0 text-white ms-2">We'll never share your email with anyone else.</div>
      <input type="password" class=" input form-control" id="password" name="password" ngModel required
        placeholder="password">
      <button type="submit" class="form-btn">Sign up</button>
    </form>
  </div>
</div>