<div class="container p-0">
    <div>
        <img src="../../../assets/img/background.png" class="rounded-4 mt-3 " width="100%">
    </div>

    <div class="container mt-4 mb-5">
        <h1 class="display-2 fw-bold"> <i class="bi bi-journal-bookmark-fill"></i> Company's Dashboard</h1>
        <div class="d-flex my-3 bg-secondary-subtle align-items-center p-3 rounded-3">
            <i class="bi bi-clipboard2-heart ms-2 me-4"></i>
            <p class="m-0">focus on your goals and believe in the future you are building</p>
        </div>
        <hr>
        <div class="d-flex">
            <a class="btn btn-outline-dark mx-2 shadow" routerLink="/seeAll" routerLinkActive="active">See all tasks</a>
            <a type="button" class="btn btn-outline-dark mx-2 shadow" routerLink="/undoneTasks"
                routerLinkActive="active">Undone Tasks</a>
            <a type="button" class="btn btn-outline-dark mx-2 shadow" routerLink="/doneTasks"
                routerLinkActive="active">Done Tasks</a>
            <a type="button" class="btn btn-outline-dark mx-2 shadow" routerLink="/notebook"
                routerLinkActive="active">Notebook</a>
        </div>
    </div>
</div>