<div class="container mb-5">
    <h2 class="display-4 fw-bold"> <i class="bi bi-check-lg"></i> Done Tasks </h2>
    <hr> 
    <div class="row">
           <!-- LIST DONE TASKS -->
           <ul class="list-group">
            <ng-container *ngFor="let userTask of userTasks">
                <li class=" d-flex p-3 my-2 border rounded-3 transition"  [ngClass]="{'bg-success-subtle': task.completed ,'bg-danger-subtle' : !task.completed}" *ngFor="let task of userTask.tasks">
                   <div>
                       <input type="checkbox" [(ngModel)]="task.completed">
                   </div>
                    <div>
                        <p class="ms-2 mb-1">{{ task.todo }}</p>
                        <p class="m-0 ms-2 text-secondary "> Assigned to: {{userTask.user.firstName}}</p>
                    </div>
                </li>
            </ng-container>
        </ul>
    </div>
</div>

