<h1 class="text-center my-3"> Active Posts </h1>

<div class="container">
 <p class="fs-4 fw-semibold text-center" > Filter by: <button *ngFor="let tag of tags" class="mx-1 btn btn-outline-primary"> {{ tag }}</button> </p>
    <div class="row">
        <div class="card my-3 d-flex h-50  p-0" *ngFor="let newsItem of selectedPost">
          <div class="card-header">
            <span *ngFor="let tag of newsItem.tags" >
              <button class="fw-semibold my-2 mx-1 btn btn-dark" appColors >{{ tag }}</button>
            </span>
          </div>
            <div class="card-body h-75" >
              <h5 class="card-title fs-4">{{ newsItem.title }}</h5>
              <p class="card-text">{{ newsItem.body | ellipsis }} </p>
              <a [routerLink]="['/news', newsItem.id]" routerLinkActive="active" class="btn btn-primary"> Read more</a>
            </div>
          </div>
    </div> 
</div>
