body {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;


}

.container {
    padding-left: 10px;
    border: 2px solid black;
    position: relative;
    height: 100px;
}

.container p {
    width: 290px;
}

.container h5 {
    position: absolute;
    left: 190px; 
    top: 50px;
    margin: 0;
    width: 110px;
    opacity: 0;
    animation: frasi 12s ease-in-out infinite 0s;
}

#primo {
    color: #7479A1; 
    animation-delay: 0s;
}

#secondo {
     color: #E86F68;
    animation-delay: 4s;
}

#terzo {
    color: #5DBD7E; 
    animation-delay: 8s; 
}




@keyframes frasi {
    from {
        opacity: 0;
    }

    25% {
        opacity: 1;
        top: 60px; 
    }

    50% {
        opacity: 0;
        top: 75px; 
    }

    to {
        opacity: 0;
        top: 50px; 
    }
}