body {
    background-color: #000000;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    min-height: 100vh;
    justify-content: space-around;
    align-items: center;
    color: beige;


}

.container {
    padding-left: 10px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 122px 17px rgba(207,87,207,0.57);
    position: relative;
    width: 400px; 
    height: 100px;
}


.container p {
    width: 290px;
}

.container h5 {
    position: absolute;
    left: 190px; 
    top: 50px;
    margin: 0;
    width: 110px;
    opacity: 0;
    animation: frasi 6s ease-in-out infinite 0s;
}

#primo {
    color: #7c38c9; 
    text-shadow: 1px 0 10px;
}

#secondo {
     color: #e234cb;
     text-shadow: 1px 0 10px;
    animation-delay: 2s;
}

#terzo {
    color: #d95883; 
    text-shadow: 1px 0 10px;
    animation-delay: 4s; 
}




@keyframes frasi {
    from {
        opacity: 0;
    }

    25% {
        opacity: 1;
        top: 60px; 
    }

    50% {
        opacity: 0;
        top: 75px; 
    }

    to {
        opacity: 0;
        top: 50px; 
    }
}