body {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: #363636;


    font-family: "Indie Flower", cursive;
    font-weight: 600;
    font-style: normal;

}


.yellow {
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    
}

.green {
    background: rgb(236, 49, 49);
    background: radial-gradient(circle, rgba(236, 49, 49, 1) 0%, rgba(148, 233, 169, 1) 100%);
    

}

.purple {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    
}


.yellow,
.green,
.purple {
    box-shadow: 0px 0px 30px 3px #0e0e0e93;
    margin: 20px;
    width: 250px;
    height: 180px;
}


.yellow h2,
p,
.green h2,
p,
.purple h2,
p {
    position: relative;
    top: 50px;
}


.yellow,
.purple {
    animation-delay: 0.3s;
    transform: rotate(-5deg);
}

.green {
    animation-delay: 0.3s;
    transform: rotate(5deg);

}




.yellow:hover,
.purple:hover {
    animation: animazione 0.2s ease-in-out 0.3s alternate both, waddle 0.5s ease 0s 1 normal forwards;
}

.green:hover {
    animation: secondaAnimazione 0.2s ease-in-out 0.3s alternate both, waddle 0.5s ease 0s 1 normal forwards;
}

.yellow:not(:hover),
.purple:not(:hover) {
    animation: ritornoAnimazione1 0.2s ease-in-out;
}

.green:not(:hover) {
    animation: ritornoAnimazione2 0.2s ease-in-out;
}

@keyframes secondaAnimazione {
    from {
        transform: scale(1) rotate(5deg);
    }

    to {
        transform: scale(1.2) rotate(0deg);
    }
}

@keyframes animazione {
    from {
        transform: scale(1) rotate(-5deg);
    }

    to {
        transform: scale(1.2) rotate(0deg);
    }
}

@keyframes ritornoAnimazione1 {
    from {
        transform: scale(1.2) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(-5deg);
    }
}

@keyframes ritornoAnimazione2 {
    from {
        transform: scale(1.2) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(5deg);
    }
}

@keyframes waddle {
    from {
        transform: scale(1) rotate(5deg) translateX(0%);
    }

    30% {
        transform: rotate(-6deg) translateX(15px);
    }

    60% {
        transform: rotate(2.4deg) translateX(9px);
    }

    100% {
        transform: scale(1.2) rotate(0deg);
    }
}