<p class="text-white">favorites works!</p>
<p> Here are all your fav: </p>

<div class="container-fluid d-flex justify-content-center">
    <div class="row-cols-3 d-flex flex-wrap">
            <div class="card m-4 p-2" *ngFor="let fav of allFavs">
                <h1> {{ fav.movie_original_title}} </h1>
                <img [src]="fav.movie_backdrop_path">
                <p> {{ fav.movie_overview}}</p>
                <a class="btn btn-outline-danger" (click)="deleteFavorite(fav.movieId)">Remove </a>
        </div>
    </div>
</div>