<h1 class="text-center display-5 text-white mb-5 mt-3"> All your favorites: </h1>

<div class="container-fluid d-flex justify-content-center">
    <div class="row-cols-2 d-flex flex-wrap">
        <div class="text-center mb-5 p-3" *ngFor="let fav of allFavs">
            <img [src]="fav.movie_backdrop_path"  alt="{{fav.movie_original_title}} Poster" >
            <h1 class="fs-2 fw-lighter text-white"> {{ fav.movie_original_title}} </h1>
            <p class="text-white " > {{ fav.movie_overview}} </p>
            <a class="btn btn-outline-danger" (click)="deleteFavorite(fav.movieId)">Remove </a>
        </div>
    </div>
</div>