<div class="container mb-5">
    <!-- INPUT SEARCH -->
    <div class="group mb-5">
        <svg class="icon" aria-hidden="true" viewBox="0 0 24 24">
            <g> <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path> </g> </svg>
        <input placeholder="Search by name or last name" type="search" class="input" [(ngModel)]="searching" (input)="filterTasks()">
    </div>
    <h2 class="display-4 fw-bold"> <i class="bi bi-list-check"></i> All Tasks </h2>
    <hr>
    <div class="row">
        <!-- LIST TASKS -->
        <ul class="list-group">
            <ng-container *ngFor="let userTask of userTasks">
                <li class=" d-flex p-3 my-2 border rounded-3"  [ngClass]="{'bg-success-subtle': task.completed ,'bg-danger-subtle' : !task.completed}" *ngFor="let task of userTask.tasks">
                   <div>
                       <input type="checkbox" [(ngModel)]="task.completed">
                   </div>
                    <div>
                        <p class="ms-2 mb-1">{{ task.todo }}</p>
                        <p class="m-0 ms-2 text-secondary "> Assigned to: {{userTask.user.firstName}}</p>
                    </div>
                </li>
            </ng-container>
            <!-- ELSE TEMPLATE -->
            <ng-container *ngIf="userTasks.length === 0">
                <li class=" d-flex p-3 my-2 border rounded-3">
                    No tasks found.
                </li>
            </ng-container>
        </ul>
    </div>
</div>