<div class="container">
  <div class="row">
    <div class="card my-2 col-6 d-flex h-50" *ngFor="let newsItem of selectedPost">
      <div class="card-body h-75" >
        <p class="fw-semibold text-primary-emphasis">{{ newsItem.tags.join(", ").toUpperCase() }}</p>
        <h5 class="card-title fs-4">{{ newsItem.title }}</h5>
        <p class="card-text">{{ newsItem.body.slice(0, 190) }} ... </p>
        <a [routerLink]="['/news', newsItem.id]" routerLinkActive="active" > Read for more... </a>
      </div>
    </div>
  </div>
</div>
