html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;

}

/* ------------------- */

/* HEADER */

nav {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffc017;
    border-bottom: 2px solid black;
}

.nav_list {
    display: flex;
}

nav ul li {
    width: 600px;
    padding: 20px;
    display: inline;
    list-style: none;
}

nav ul li:nth-child(5) {
    background-color: black;
    margin-left: 10px;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    width: 20%;
    color: white;
}

.under_nav {
    display: flex;
    justify-content: flex-end;
    background-color: #ffc017;
    border-bottom: 2px solid #191919;

}

.text_under_nav_left {
    width: 50%;
}

.text_under_nav_right {
    width: 40%;
}

.button {
    background-color: #191919;
    font-size: 1.1em;
    margin-bottom: 50px;
    margin-left: 10px;
    padding: 10px 15px 10px 15px;
    border-radius: 30px;
    width: 25%;
    color: white;
    border: none;
    cursor: pointer;
}

.text_under_nav_left {
    padding-left: 50px;
}

.text_under_nav_left h1 {
    font-size: 6em;
    margin-bottom: 0;
    font-family: "Spectral", serif;
    font-weight: 700;
    font-style: normal;
}

.text_under_nav_left p {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 1.3em;
    width: 50%;
}

/* ------------------- */

/* MAIN */


.trending_on_medium {
    display: flex;
    margin-top: 50px;
    padding-left: 55px;
    font-size: small ;
}

.trending_on_medium h4 {
    padding-left: 10px;
}


.trending {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 250px;
}


.trending_boxes {
    position: relative;
    bottom: 39px;
    padding: 0;
    margin-right: 20px;
    margin-left: 15px;
}

.inner_trending_boxes {
    width: 27%;
}

.img_round {
    position: relative;
    top: 5px;
    width: 20px;
    border-radius: 50%;
}

.img_square_round {
    position: relative;
    top: 5px;
    width: 20px;
   border-radius: 20%; 
}



.inner_trending_boxes p {
    display: inline;

    font-size: 0.8em;
}


.inner_trending_boxes h4 {
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.trending_boxes p {
    width: 10%;
font-weight: bold;
color: #19191924;
font-size: 2em;
}


.color_gray {
    color: #4e4e4e8c;
}


/*  PARTE ARTICOLI SOTTO MAIN */


.section_articles {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}


.section_container {
    margin-bottom: 60px;
    display: flex;
}


.articles_up p {
    display: inline;
}


.articles_middle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.articles_middle h4 {
    font-size: 1.4em;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}


.gray_bg {
    background-color: #96969630;
    padding:2px 10px 2px 10px;
    border-radius: 30px;
}


.articles_middle p {
    margin-top: 0; 
}


.color_gray span:nth-child(3) {
    align-items: flex-end;

}


.articles_middle p:nth-child(3) {
    display: flex;
    align-items: center;
}

.star {
    display: flex;
    align-items: center;
    margin: 5px;
}
.bookmark {
    margin-left: auto;
    margin-right: 20px;
}

aside {
    display: flex;
    flex-direction: column;
    position: sticky; 
    top: 33px; 
}

.big_box {
    display: flex;
    justify-content: space-evenly;
}

.smaller_box {
    display: flex;
    width: 50%;
    margin-right: 50px;
}

.aside_buttons {
    height: 120px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.smaller_box2 {
    width: 25%;
}

.smaller_box2 aside h3 {
    font-size: 0.8em;
    padding: 10px;
}

.aside_list {
   border-top: 2px solid #19191915;
}

.aside_list ul {
    padding-left:0; 
}

.aside_list ul li {
    display: inline;
    list-style: none;
    font-size: 0.9em;
    padding-inline: 10px;
}
.aside_list {
    display: flex;
}

.buttons_style {
    background-color: rgb(255, 255, 255);
    color: #1919199e;
    border: 1px solid rgba(0, 0, 0, 0.187); 
    padding: 7px 13px 7px 13px;
    border-radius: 3px;
    cursor: pointer;
}