<div class="container mt-4" >
    <h2 class="text-center"> More info of this news</h2>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title" >{{news.title}}</h3>
            <h5 class="card-subtitle mb-2 text-body-secondary">
                {{news.reactions}} 👍
            </h5>
            <p class="card-text">
                {{news.body}}
            </p>
            <span class="badge bg-primary me-1 text-uppercase" *ngFor="let tag of news.tags" > {{ tag }} </span
                >
        </div>
    </div>
</div>

