div {
    font-family: 'Krub';
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.1);
}

.margin-custom {
    margin-top: 100px;
}

.button-custom {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #000000;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #000000;
  }
  
  button:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #000000;
    box-shadow: 4px 5px 17px -4px #000000;
  }
  
  button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #000000;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }
  
  .button-custom:hover::before {
    width: 200%;
  }
  


