*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body div,
footer {
  padding: 1rem;
}

footer {
  padding: 1rem;
  background-color: black;
  color: white;
}

.myHeading {
  color: #ff00d6;
}

tbody td {
  padding: 20px; 

}

th {
  padding: 20px;
}

#tableArea {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  border: 1px solid black;
}

img {
  width: 100px;
}

h1 {
  cursor: pointer; 
}

h2 {
  cursor: pointer; 
}