
div {
    background-image: url(../../../assets/Netflix-Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.662);
}

h1{

    text-shadow: 2px 2px #000000;
}

.custom-padding {
    padding: 40vh;
}
